<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054015406612-8282o0p0f1dr9o7un0m9lahdssscj8v4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054015406612-8282o0p0f1dr9o7un0m9lahdssscj8v4</string>
	<key>API_KEY</key>
	<string>AIzaSyDxzKsW3-XWahj_Ba8pq506BaI-jEQj3NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1054015406612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vetCalcApp</string>
	<key>PROJECT_ID</key>
	<string>veterinary-application-bfb4e</string>
	<key>STORAGE_BUCKET</key>
	<string>veterinary-application-bfb4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054015406612:ios:580775f60e7e206b34dd01</string>
	<key>DATABASE_URL</key>
	<string>https://veterinary-application-bfb4e-default-rtdb.firebaseio.com</string>
</dict>
</plist>